@{
  Layout = "_Layout";
}

@model Library.Models.Patron

<h4>Add a new Patron</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    
    <input type="submit" value="Add new patron" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all patrons", "Index")</p>