@{
  Layout = "_Layout";
}
<h1>Hello...Welcome to the Greatest Library Ever, we have taste! ...</h1>
<h3>...and better pizza</h3>


<p>@Html.ActionLink("Library Items", "Index", "Items")</p>
<p>@Html.ActionLink("Create or manage an account", "Index", "Account")</p>